---
import { Image } from "astro:assets";
const {
  title,
  description,
  image,
  bgColor = "#fcfcfc", // Color de fondo por defecto: gris claro
  textColor = "#000000", // Color de texto por defecto: negro
} = Astro.props;
---

<section
  class="relative h-screen flex items-center justify-center"
  style={{ backgroundColor: bgColor }}
>
  <div class="relative z-10 text-center px-6 flex flex-col items-center">
    {/* Centra vertical y horizontalmente */}
    <div class="mb-4 flex flex-col items-center">
      {/* Espacio entre la imagen y el título */}
      <Image
        src={image}
        alt={title}
        class="object-contain w-full h-auto"
        width={350}
        height={350}
      />
    </div>
    <h1 class={`text-5xl font-bold mb-4 ${textColor}`}>
      {title}
    </h1>
    <p class={`text-2xl mb-8 w-[700px] ${textColor}`}>
      {description}
    </p>
    {/* Puedes añadir un botón u otros elementos aquí */}
  </div>
</section>
