---
// src/components/layout/Header/DropdownMenu.astro
const { buttonText, data } = Astro.props;
---

<button
  id="services-menu-button"
  class="tracking-widest uppercase text-[15px] text-gray-600 hover:text-primary transition-colors duration-300 relative"
  aria-haspopup="true"
  aria-expanded="false"
>
  {buttonText}
</button>

<div
  id="services-menu"
  class="hidden absolute right-0 bg-white shadow-md p-6 grid grid-cols-4 gap-6 z-50 w-[1080px] mt-2"
>
  {
    data.map((category) => (
      <div>
        <h3 class="font-bold text-gray-900 mb-4 pb-2 border-b border-gray-200">
          {category.title}
        </h3>
        <div class="space-y-4">
          {category.links.map((link) => (
            <div>
              <a
                href={link.href}
                class="font-semibold text-gray-600 hover:text-primary transition-colors"
              >
                {link.text}
              </a>
              <p class="text-sm text-gray-500">{link.description}</p>
            </div>
          ))}
        </div>
      </div>
    ))
  }
  <div class="bg-gray-100 p-4 rounded col-span-1">
    <h3 class="text-xl font-bold text-primary mb-2">
      IA Punto: Crecimiento impulsado por IA
    </h3>
    <p class="text-gray-600">
      Contamos con la estrategia, la experiencia y un historial de éxito
      comprobado.
    </p>
  </div>
</div>

<script>
  const servicesMenuButton = document.getElementById('services-menu-button');
  const servicesMenu = document.getElementById('services-menu');

  servicesMenuButton.addEventListener('click', () => {
    servicesMenu.classList.toggle('hidden');
    servicesMenuButton.setAttribute(
      'aria-expanded',
      servicesMenu.classList.contains('hidden') ? 'false' : 'true'
    );
  });

  // Cerrar el menú si se hace clic fuera de él
  document.addEventListener('click', (event) => {
    if (
      !servicesMenuButton.contains(event.target) &&
      !servicesMenu.contains(event.target)
    ) {
      servicesMenu.classList.add('hidden');
      servicesMenuButton.setAttribute('aria-expanded', 'false');
    }
  });
</script>
