---
import "../../styles/global.css";

interface Props {
  pageTitle: string;
  description: string;
  image?: string;
  robots?: string;
  noindex?: string;
  keywords?: string[];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  pageTitle,
  description,
  image = "/assets/images/seo-post1.jpg",
  noindex,
  keywords,
} = Astro.props;

// Meta robots
const robots = noindex ? "noindex, nofollow" : "index, follow";
---

{/* Global Metadata */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link
  rel="icon"
  type="image/svg+xml"
  href="https://res.cloudinary.com/dkb9jfet8/image/upload/v1740063312/favicon_a3m7mh.png"
/>
<meta name="generator" content={Astro.generator} />

{/* Font preloads */}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>

{/* Condición para evitar errores si no hay keywords */}
{keywords && <meta name="keywords" content={keywords.join(", ")} />}

{/* Canonical URL */}
<link rel="canonical" href={canonicalURL} />

{/* Primary Meta Tags */}
<title>IA Punto | {pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />

{/* Open Graph / Facebook */}
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

{/* Twitter */}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={pageTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

{/* Otros metadatos importantes */}
<meta name="author" content="IA Punto Soluciones Tecnológicas" />
<meta name="language" content="es" />

{/* Meta robots (¡IMPORTANTE!) */}
<meta name="robots" content={robots} />
