---
import { Image } from "astro:assets";
import ButtonPrimary from "./ButtonPrimary.astro";

const { title, subtitle, description, image, alt, link, ctaText, reverse } =
  Astro.props;
---

<section
  class={`py-20 ${Astro.props.bg === "gray" ? "bg-gray-100" : "bg-white"}`}
>
  <div class="container w-4/5 py-20 mx-auto px-4">
    <div
      class={`flex flex-col md:flex-row items-center justify-between gap-12 ${reverse ? "md:flex-row-reverse" : ""}`}
    >
      {/* Condición para invertir el orden */}
      <div class="w-full md:w-1/2">
        <p
          class="text-xl font-light text-gray-600 uppercase tracking-wider mb-4"
        >
          {subtitle}
        </p>
        <h2
          class="text-4xl md:text-5xl font-bold text-gray-900 mb-6 leading-tight"
        >
          {title}
        </h2>
        <p
          class="text-xl text-gray-400 font-light leading-8 tracking-wider mb-8 leading-relaxed"
        >
          {description}
        </p>
        {/* Condición para mostrar el botón */}
        {
          link && link.length > 0 && (
            <ButtonPrimary text={ctaText} href={link} />
          )
        }
      </div>
      <div class="w-full md:w-1/2">
        <Image
          src={image}
          alt={alt}
          class="w-full max-w-[500px] mx-auto rounded-lg"
        />
      </div>
    </div>
  </div>
</section>
