---
import "../../styles/global.css";

// src/components/common/SeoMeta.astro
interface Props {
  pageTitle: string;
  description: string;
  image?: string;
  robots?: string;
  noindex?: false;
  keywords?: string[];
}

const {
  pageTitle = "Soluciones Innovadoras en Inteligencia Artificial",
  description = "Descubre soluciones innovadoras en inteligencia artificial con IA Punto.",
  image = "https://res.cloudinary.com/dkb9jfet8/image/upload/v1741038442/logo-v3-cuadrado_seljkv.jpg",
  noindex,
  keywords,
} = Astro.props;

const robots = noindex
  ? "noindex, nofollow, noarchive"
  : "index, follow, max-snippet:-1, max-image-preview:large";

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<title>IA Punto | {pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />
{/* Condición para evitar errores si no hay keywords */}
{keywords && <meta name="keywords" content={keywords.join(", ")} />}

<meta name="author" content="IA Punto" />

<meta name="generator" content={Astro.generator} />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:type" content="website" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Favicon -->
<link
  rel="icon"
  type="image/svg+xml"
  href="https://res.cloudinary.com/dkb9jfet8/image/upload/v1740063312/favicon_a3m7mh.png"
/>
