---
import '../../styles/global.css';

// src/components/common/SeoMeta.astro
interface Props {
  pageTitle: string;
  description: string;
  image?: string;
  robots?: string;
  noindex?: false;
  keywords?: string[];
  twitterSite?: string;
  twitterCreator?: string;
  ogType?: 'website' | 'article';
  siteName?: string;
  locale?: string;
}

const {
  pageTitle = 'Soluciones Innovadoras en Inteligencia Artificial',
  description = 'Descubre soluciones innovadoras en inteligencia artificial con IA Punto.',
  image = 'https://res.cloudinary.com/dkb9jfet8/image/upload/v1741038442/logo-v3-cuadrado_seljkv.jpg',
  noindex,
  keywords,
  twitterSite = '@iapunto',
  twitterCreator = '@iapunto',
  ogType = 'website',
  siteName = 'IA Punto',
  locale = 'es_CO',
} = Astro.props;

const robots = noindex
  ? 'noindex, nofollow, noarchive'
  : 'index, follow, max-snippet:-1, max-image-preview:large';

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

// Normalización robusta de keywords
let keywordsContent = '';
if (Array.isArray(keywords)) {
  keywordsContent = keywords.join(', ');
} else if (typeof keywords === 'string') {
  keywordsContent = keywords;
}
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

{Astro.url.pathname === '/' ? (
  <title>{siteName} | {pageTitle}</title>
) : (
  <title>{pageTitle} | {siteName}</title>
)}
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />
{/* keywords robusto */}
{keywordsContent && <meta name="keywords" content={keywordsContent} />}

<meta name="author" content="IA Punto" />

<meta name="generator" content={Astro.generator} />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:type" content={ogType} />
<meta property="og:site_name" content={siteName} />
<meta property="og:locale" content={locale} />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={pageTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
<meta name="twitter:site" content={twitterSite} />
<meta name="twitter:creator" content={twitterCreator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Favicon -->
<link
  rel="icon"
  type="image/svg+xml"
  href="https://res.cloudinary.com/dkb9jfet8/image/upload/v1740063312/favicon_a3m7mh.png"
/>
