---
import { Image } from "astro:assets";
const { icon, altText, title, description, linkHref, ctaText } = Astro.props;
---

<div
  class="bg-white p-8 rounded-2xl shadow-sm hover:shadow-md transition-shadow duration-300 flex flex-col items-center text-center group"
>
  <div
    class="mb-16 transform group-hover:-translate-y-1 transition-transform duration-300"
  >
    <a href={linkHref}>
      <Image src={icon} alt={altText} class="w-56 h-56" />
    </a>
  </div>
  <a href={linkHref}>
    <h3
      class="text-xl text-gray-800 hover:text-[#E51F52] uppercase font-bold mb-4"
    >
      {title}
    </h3>
  </a>

  <p class="text-gray-600 mb-6 leading-relaxed">{description}</p>
  <a
    href={linkHref}
    class="text-[#E51F52] font-medium hover:text-[#c71a48] transition-colors duration-300 mt-auto inline-flex items-center"
  >
    <span>{ctaText}</span>
    {/* Usamos la prop ctaText */}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-5 h-5 ml-2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
    </svg>
  </a>
</div>
