---
import Link from "./Link.astro";
import type { Services } from "../../lib/constants/services";
import { Image } from "astro:assets";

interface Props extends Services {}

const { title, description, icon, alt, link, ctaText } = Astro.props;
---

<div class="group">
  <div class="mb-6 w-16 h-16">
    <a href={link}>
      <Image
        src={icon}
        alt={alt}
        class="w-full h-full object-contain"
        width={500}
        height={500}
      />
    </a>
  </div>
  <a href={link}>
    <h3
      class="text-xl font-bold text-gray-900 hover:text-[#e51f52] mb-4 uppercase"
    >
      {title}
    </h3>
  </a>
  <p class="text-gray-600 leading-relaxed">
    {description}
  </p>
  {
    link && (
      <div class="mt-4">
        <Link href={link} ctaText={ctaText} />
      </div>
    )
  }
</div>
