---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import Hero from '../../components/sections/services/Hero.astro';
import ServicesCard from '../../components/common/ServicesCard.astro';
import { services } from '../../lib/constants/services';
import heroImage from '../../assets/images/hero-image.svg';
---

<DefaultLayout pageTitle="Servicios de Marketing Digital, IA y Tecnología" description="Descubre todos nuestros servicios: desarrollo web, SEO, publicidad online, automatización y más. Soluciones integrales para hacer crecer tu empresa." >
  <Hero
    title="Nuestros Servicios"
    description="Impulsa tu crecimiento con nuestras soluciones integrales de marketing y tecnología, diseñadas para llevar tu negocio al siguiente nivel"
    image={heroImage}
    alt="Servicios de Marketing Digital"
  />
  <section class="bg-gray-100 mx-auto py-4 px-4">
    <div class="container mx-auto py-4 my-[100px] px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
        {
          services.map((services) => (
            <ServicesCard
              icon={services.icon}
              altText={services.alt}
              title={services.title}
              description={services.description}
              linkHref={services.link}
              ctaText={services.ctaText}
            />
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>
